html {
  height:100%;
}

body {
  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size:1.2em;
  color:#333;
  height:100%;
  margin:0;
  padding:0;
}

a,
a:focus,
a:active {
  color:orangered;
}

a i{
  color:#000000;
}

a:hover {
  color:orange;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0.5em 0;
}

footer {
  bottom:0;
  padding: 2em;
  width:100%;
}

article {
  padding:2em 0;
  border-bottom:1px solid #333333;
}

article img {
  width:100px;
  height:100px;
  float:left;
  margin-right:2em;
  background-color:lightblue;
  border:1px solid cornflowerblue;
}

.comments-fix {
  margin-top: 2em;
}

.comment:not(:last-child) {
  margin-bottom: 2em;
}

